.message {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 41px;
	max-width: 100%;
}

.imageAndText {
	display: flex;
	gap: 14px;
	flex-direction: row-reverse;
}

.imageAndText img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.text {
	background: #0066CC;
	box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
	width: 527px;
	display: flex;
	flex-direction: column;
	border-radius: 7px;
	padding: 0px 25px 8px 13px;
	position: relative;
	word-wrap: break-word;
	border: 0;
}

.text:after {
	content: '';
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 50px solid #0066CC;
	position: absolute;
	right: -10px;
	top: 40px;
	transform: rotate(135deg);
	z-index: -1;
}

.name {
	flex: 1;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}

.messageText {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	white-space: pre-wrap;
}

.time {
	position: relative;
	z-index: 5;
	font-weight: 600;
	font-size: 10px;
	line-height: 12px;
	color: #000000;
	padding-right: 12px;
}