.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
    display: flex;
    gap: 20px;
}

.developerHeader {
    display: flex;
    gap: 20px;
}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {

}

.icon {
    width: 20px;
}